*{
    padding: 0;
    margin: 0;
}
ul, ol {
    list-style: none;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Microsoft YaHei, Arial;
    font-size: 16px;
}
a {
    text-decoration: none;
    border: 0 none;
    outline: 0 none;

    /*touch-action: pan-x pan-y;*/
    /*-webkit-user-select: none;*/
    /*-webkit-user-drag: none;*/
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
}
img {
    border: 0 none;
    display: block;
}
div.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page-1 .g-logo{
    margin: 15% auto 5%;
    width: 65%;
    position: relative;
}
.g-logo .g-wifi{
    position: absolute;
    width: 15%;
    left: 37%;
    top: 0;
}
.g-wifi>img{
    width: 100%;
}
.m-content{
    width: 70%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
p.words-left{
    color: #666;
    float: left;
    font-size: 10px;
    margin-left: 4%;
    width: 50%;
    line-height: 160%;
}
div.icons-right {
    position: relative;
    width: 50%;
    margin-left: 50%;
}
.icons-right span {
    font-size: 11px;
    margin-bottom: 5%;
    display: block;
    text-align: center;
}
.icons-right img {
    width: 30%;
    margin: 0 auto 5%;
}
.g-footer {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 7%;
}
.g-footer p {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}
.kites-ct {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
}
.kites-ct>img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -75%, 0);
    -moz-transform: translate3d(-50%, -75%, 0);
    -ms-transform: translate3d(-50%, -75%, 0);
    -o-transform: translate3d(-50%, -75%, 0);
    transform: translate3d(-50%, -75%, 0);
}
.kites-ct .start-btn {
    position: relative;
    margin-top: 13%;
    width: 100%;
}
.start-btn .play-btn {
    width: 25%;
    margin: 0 auto;
    display: block;
}
.start-btn span {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 2%;
    color: #fff;
}

.p2-g-header {
    width: 90%;
    margin: 7% auto 3%;
    overflow: hidden;
}
.p2-g-header .left-part {
    width: 50%;
    float: left;
}
.left-part>a{
    width: 39%;
    display: inline-block;
    vertical-align: middle;
}
.left-part>span {
    vertical-align: middle;
    display: inline-block;
}
.right-part {
    width: 45%;
    float: right;
}
.page-2 .g-logo {
    width: 48%;
    margin: 1% auto 0%;
    position: relative;
}
.video-container {
    width: 90%;
    height: 30%;
    background-color: #ffffff;
    margin: 5% auto 3%;
}
.time-g {
    width: 90%;
    margin: 1% auto 3%;
    position: relative;
    overflow: hidden;
}
.time-g .audio-left {
    float: left;
}
.time-g .audio-right {
    float: right;
}
.time-g h4 {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
    color: #444;
}
.time-g p {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    font-size: 20px;
}
.time-g p b {
    font-size: 12px;
}
.page-2 .phone {
    width: 60%;
    margin: 0 auto;
    color: #999;
    border: none;
    display: block;
    height: 16px;
    padding: 8px;
    font-size: 16px;
}
.page-2 .confirm-btn{
    width: 25%;
    margin: 3% auto;
    display: block;
    height: 28px;
    background-color: #8aa09b;
    text-align: center;
    line-height: 28px;
    color: #ddd;
}
a.arrow {
    width: 5%;
    display: block;
    margin: 6% auto 0;
}
